.fix{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}@media(min-width:600px){
    #bt{
        position: relative;
        top: 30px;
    }
}
.flex-m{
    justify-content: center  !important;
}
.item.active .icon{
    transform: rotate(180deg);
}
.bet{
    display: flex;
    justify-content: space-between !important;
    align-items: center ;
}
.container{
    width: 100% !important;
}
.back{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.user_add{
    position: fixed;
    bottom: -70vh;
    z-index: 1000;

    height: 70vh;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    

    margin-bottom: 0 !important;}

.Add_user_btn.show{
    bottom: 0;
}