.fix{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}@media(min-width:600px){
    #bt{
        position: relative;
        top: 30px;
    }
}
.flex-m{
    justify-content: center  !important;
}
.item.active .icon{
    transform: rotate(180deg);
}
.bet{
    display: flex;
    justify-content: space-between !important;
    align-items: center ;
}
.container{
    width: 100% !important;
}