*{
    box-sizing: border-box;
}
.box{
    position: absolute;
    top: 0 ;left: 0;
    height: 100%;
    width: 100%;
}
.header{
    height: 15%;
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color:  rgba(40, 43, 39, 0.7);
}
.mian-box{
    width: 100%;
    height:  70%;
}
.footer{
    height: 15%;
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    background-color: rgba(40, 43, 39, 0.7);
    margin: 0;
}
.list{
    height: 100%;
    width: 20%;
    background-color: rgba(40, 43, 39, 0.4);
    padding: 40px;
}
.text{
    margin: 0;
}
.titel{
    font-size: 90px;
    color: red;
    text-shadow: 10px 10px 10px black;
    position: absolute;
    top: 50px;
    left:1100px;

}
.text1{
    font-size: 90px;
    color: red;
    text-shadow: 10px 10px 10px black;
    position: absolute;
    bottom: 50px;
    left:1400px;
}
.list1{
    margin: 0;
    list-style-type: none;
    font-size: 40px;
    position: absolute;
    top:360px;
    left: 13px;
    

}
#a{
    font-size: 40px;
    position: absolute;
    left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#b{
    font-size: 40px;
    position: absolute;
    left: 15px;
    top:700px;

}
.list2{
    margin: 0;
    list-style-type: none;
    font-size: 40px;
    position: absolute;
    top:800px;
    left: 13px;
    

}
.title-a{
    font-size: 60px;
    margin-bottom: 3px;
}
.title-b{
    font-size: 30px;
    margin-top: 3px;
}

.contant{
    width: 80%;
    height: 100%;
    float: right;
    padding: 20px;
}