.mian_tab{
    width: 100%;
    height: 6vh;
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/Vazir-Thin.ttf);
  }
  /* @font-face {
    font-family: myFirstFont2;
    src: url(../font/AdobeGothicStd-Bold.otf);
  } */
.titel1{
    font-family: myFirstFont !important;
    font-size: 4.8rem;
    position: absolute;
    bottom: 0px;
    top: 0px;
    margin: auto 0;

}
.oop{
    font-size: 3rem !important;
    position: absolute;
    top: 15px;
    right: 20px;
}
.navbar-a{
    font-size: 1rem;
    color: black;
    font-family: myFirstFont2;
}
#menu{
    position: absolute;
    top: 20px;
    left: 230px;
}
#Order{
    position: absolute;
    top: 20px;
    left: 430px;
}
#our{
    position: absolute;
    top: 20px;
    left: 670px;
}
#cat{
    position: absolute;
    top: 20px;
    left: 970px;
}
.navbar{
    width: 100%;
    height: 6vh;
}
.mian{
    width: 100%;
    height: 96vh;
    position: relative;
}
.mian-titel{
    font-size: 4rem !important;
    font-family: myFirstFont;
    position: relative;
    right: 80px;
    top: 5rem;
    display: block;

}
.mycoler{
    color: #4db6ac;
}
.line{
    width: 0.7rem;
    height: 21rem;
    position: absolute;
    right: 3.2rem;
    top: 5.5rem;
    color: #4db6ac !important; 

}
.text-1{
    font-size: 1.8rem !important;
    font-family: myFirstFont;
    position: relative;
    position: relative;
    top: 4rem;
    right: 5.7rem;

}

.btn1{
    position: absolute;
    top:22rem;
    right: 8rem;
    width: 12rem;
    height: 4rem !important;
    border-radius: 2rem !important;
    font-size: 1rem !important;
    font-family: myFirstFont;
}
.btn2{
    position: absolute;
    top: 22rem;
    right: 23rem;
    width: 12rem;
    height: 4rem !important;
    border-radius: 2rem !important;
    font-size: 20px !important;
    font-family: myFirstFont;
    color: #4db6ac !important;

}
.image{
    width: 90cqh;
    position: absolute;
    left: 2rem;
    top: 0rem;
    bottom: 0rem;
    margin: auto 0;

}

